{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'movies/base.css' %}">
  <a href="{% url 'movies' %}">Movies</a>
  <a href="{% url 'genres' %}">Genres</a>
  {% if request.user.is_authenticated %}
    <div>
      <a href="{% url 'profile' username=user.username %}" id="profilebutton">{{ user.username }}</a>
      <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
  {% else %}
  <p><a href="{% url 'index' %}">Login</a></p>
  {% endif %}

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
