{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'movies/base.css' %}">
  {% if request.user.is_authenticated %}
    <div>
      <p>{{ user }}</p>
      <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
    <hr>
  {% else %}
  <p><a href="{% url 'index' %}">Login</a></p>
  <hr>
  {% endif %}

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
