{% extends "movies/base.html" %}
{% load static %}

{% block title %}
  {{ genre.name }} on Nitro's movies
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'movies/genre.css' %}">
{% endblock %}

{% block body %}
  <h1 id="name">{{ genre.name }}</h1>
  {% if movies_with_genre %}
    {% for movie in movies_with_genre %}
      <a href="/movies/{{ movie.id }}" class="movie">{{ movie.name }}</a>
    {% endfor %}
  {% else %}
    <div id="no-movies">No movies with this genre :()</div>
  {% endif %}
{% endblock %}
