{% extends "movies/base.html" %}
{% load static %}

{% block title %}
  {{ movie.name }} on Nitro's movies
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'movies/movie.css' %}">
{% endblock %}

{% block body %}
  <h1 id="name">{{ movie.name }}</h1>
  <div class="container">
    <div class="subcontainer">
      <div id="preview"><img id="prev" src="{{ movie.preview.url }}" alt=""></div>
    </div>
    <div class="subcontainer">
      <div id="genres">
        <div class="text">Genres:</div>
        {% for genre in movie.genres.all %}
          <a class="genre" href="{% url 'genre' genre_id=genre.id %}">{{ genre.name }}</a>
        {% endfor %}
      </div>
      <div id="short-info">
        <div class="text">Director: </div>
        <a href="{% url 'director' director_id=movie.director.id %}">{{ movie.director }}</a>
        <div class="text">Duration: </div>
        <div id="duration">{{ movie.duration }}</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text">Description: </div>
    <div id="description">{{ movie.description }}</div>
  </div>
{% endblock %}
