{% extends "movies/base.html" %}

{% block title %}
  {{ movie.name }} on Nitro's movies
{% endblock %}

{% block body %}
<ul id="info">
  <li id="name">{{ movie.name }}</li>
  <li id="preview"><img src="{{ movie.preview.url }}" alt=""></li>
  <li id="genres">Genres: </li>
  <ul id="genres">
    {% for genre in movie.genres.all %}
      <li class="genre">{{ genre.name }}</li>
    {% endfor %}
  </ul>
  <li id="director">Director: {{ movie.director }}</li>
  <li id="duration">Duration: {{ movie.duration }}</li>
  <li id="description">Description: {{ movie.description }}</li>
</ul>
{% endblock %}
