#movies-list {
  font: 1em 'PT Sans', Tahoma, Arial;
  display: grid;
}

#info {
  list-style: none;
}

#genres {
  list-style: none;
  /* display: block; */
}

#name {
  align-content: center;
  font-size: 30px;
}
