#name {
  font-size: 32px;
  font-variant: small-caps;
}

.container {

}

.subcontainer {
  position: relative;
  display: inline-block;
}

.text {
  font: 1.2em;
  font-weight: bolder;
}

.genre {
  display: inline-block;
  padding: 4px;
  border: 1px #000 solid;
  border-radius: 25px;
}

.genre:hover {
  background: #ccc;
  cursor: pointer;
}

#director {
  padding: 2px;
  display: inline-block;
}

#director:hover {
  background: #ccc;
  border-radius: 8px;
  cursor: pointer;
}
